*,
*::after,
*::before {
	box-sizing: border-box;
}
body {
	width: 100%;
	max-height: 100vh;
	margin: 0;
	display: grid;
	place-items: center;
}
.msg {
	width: 80%;
	height: 40px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: tomato;
	margin-bottom: 10px;
	display: none;
}
.msg--show {
	display: flex;
}
.msg__text {
	margin: 0;
	font-weight: bold;
}
.content {
	width: 100%;
	margin-bottom: 10px;
	display: grid;
	place-items: center;
}
.formulario {
	width: 90%;
}
.formulario__input {
	width: 80%;
	padding: 10px;
	border-radius: 5px;
}
.formulario__btn {
	padding: 5px 10px;
	border: 1px solid rgb(114, 114, 114);
	border-radius: 5px;
	background-color: rgb(211, 211, 211);
	font-weight: bold;
	cursor: pointer;
}
.contentList {
	width: 100%;
	height: 100%;
	padding: 10px;
}
.item {
	width: 100%;
	height: 40px;
	border: 1px solid rgb(0, 0, 0);
	box-shadow: 0 0 4px #333;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
	margin-bottom: 10px;
}
.item__text {
	margin: 0;
	font-weight: bold;
	font-size: 1.1rem;
}
.item__btn {
	padding: 5px 10px;
	border-radius: 5px;
	background-color: tomato;
	border: 1px solid rgb(255, 75, 43);
	font-weight: bold;
	cursor: pointer;
}
