*,
*::after,
*::before {
	box-sizing: border-box;
}
html {
	font-size: 16px;
}
body {
	width: 100%;
	min-height: 100vh;
	margin: 0;
	font-family: sans-serif;
	background-color: #333;
	color: #fff;
	position: relative;
}
.loan {
	width: 100%;
	height: 100vh;
	background-color: rgba(94, 94, 94, 0.747);
	position: absolute;
	transition: opacity 0.3s, visibility 0.3s;
	opacity: 0;
	visibility: hidden;
}
.loan--show {
	opacity: 1;
	visibility: visible;
}
.loan::after {
	content: 'Cargardo';
	position: absolute;
	width: 100px;
	height: 50px;
	left: 50%;
	top: 50%;
	transform: translate(-50%);
}
.header {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}
.title {
	margin: 0;
	text-align: center;
}
.main {
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
}
.contentBtns {
	width: 80%;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}
.btn {
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	font-size: 1rem;
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	outline: 0;
	box-shadow: 0 2px 3px #000;
	opacity: 0;
	transition: opacity 0.3s, border 0.3s, color 0.3s;
}
.btn--show {
	opacity: 1;
}
@media (hover: hover) {
	.btn:hover {
		border: 1px solid rgb(223, 206, 206);
		color: rgb(223, 206, 206);
	}
}
.btn:active {
	border: 1px solid rgb(223, 206, 206);
	color: rgb(223, 206, 206);
	box-shadow: 0 3px 5px #000;
}
.sectionCard {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, 12.5rem);
	gap: 30px;
	justify-content: center;
}
.card {
	width: 12.5rem;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 3px #000;
	background-color: #fff;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}
.card__header {
	width: 100%;
	height: 130px;
	border-radius: 5px;
	overflow: hidden;
}
.card__img {
	width: 100%;
	height: 100%;
}
.card__main {
	width: 100%;
	color: #333;
}
.card__titleCard {
	font-size: 0.9375rem;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
}
.card__subTitelCard {
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}
