*,
*::after,
*::before {
	box-sizing: border-box;
}
html{
	font-size: 1rem;
}
@media screen and (min-width: 600px){
	html{
		font-size: 0.8125rem;
	}	
}
body {
	width: 100%;
	margin: 0;
	color: #fff;
	background-color: #333;
}
.title {
	text-align: center;
	margin-top: 1.25rem;
	font-size: 2.5rem;
}
.contentMain {
	width: 100%;
	padding-left: 0.625rem;
	padding-right: 0.625rem;
}
.contentMain__header {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.card {
	width: 12.5rem;
	height: auto;
	color: #333;
	background-color: #fff;
	border-radius: 0.625rem;
	border: 0.0625rem solid #333;
	padding: 0.625rem;
	display: grid;
	place-items: center;
	margin-bottom: 1.25rem;
}
.card__title {
	margin-top: 0;
	font-size: 1.6rem;
}
.card__btn {
	width: 80%;
	padding-top: 0.9375rem;
	padding-bottom: 0.9375rem;
	text-align: center;
	color: blue;
	border: 0.125rem solid rgba(0, 0, 255, 0.5);
	border-radius: 0.625rem;
	cursor: pointer;
	font-size: 1.2rem;
}
.card__btn:active{
	background-color: blue;
	color: #fff;
}
.card__btn:hover {
	border: 0.125rem solid blue;
}
.lista {
	width: 100%;
}
.lista__tilte {
	text-align: center;
	font-size: 2.5rem;
}
.lista__ul {
	width: 100%;
	list-style: none;
	padding: 0;
  padding-top: 0.625rem;
	padding-bottom: 0.625rem;
}
.liProduct {
	font-size: 16px;
	border: 0.0625rem solid #fff;
	border-radius: 0.625rem;
	padding: 0.625rem;
	font-size: 1.2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
margin-bottom: 0.625rem;
}
@media screen and (min-width: 768px) {
	.liProduct {
		width: 50%;
	
	}
}
.liProduct__amount {
	width: 2.5rem;
	height: 2.5rem;
	display: grid;
	place-items: center;
	background-color: blue;
	border-radius: 50%;
}
